MARIADB_DATABASE=moodle
MARIADB_USER=moodle
MARIADB_PASSWORD=CHANGE_ME
MARIADB_ROOT_PASSWORD=CHANGE_ME

MOODLE_ADMIN_USER=cisSuperAdmin1
MOODLE_ADMIN_PASSWORD=CHANGE_ME
MOODLE_ADMIN_EMAIL=admin@example.com
